---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <div class="prose prose-base lg:prose-lg max-w-none">
    <h1 class="text-4xl font-bold text-primary mb-4">Hanani Bathina</h1>

    <p>
      I am a 2nd-year Master's student in Data Science at
      <a href="https://www.cmi.ac.in/" class="link link-"
        >Chennai Mathematical Institute</a
      >.
    </p>

    <ol class="list-decimal list-inside space-y-2">
      <li>
        I interned over the summer (2025) at Tata Communications, working on
        developing a natural, expressive <strong>Text-to-Speech system</strong> for
        Indian-accented English - <a
          href="/notes/keerthana_tts"
          class="link link-accent">Here</a
        >
      </li>
      <li>
        Before that, I was a research intern at
        <a href="https://ai4bharat.iitm.ac.in/" class="link link-accent"
          >AI4Bharat</a
        >, where I contributed to an
        <a href="https://arxiv.org/pdf/2501.07244" class="link">ACL paper</a> —
        <em>Can Vision-Language Models evaluate Handwritten Math?</em>
      </li>
    </ol>

    <p>
      I am primarily motivated by using AI to enhance average worker
      productivity. Currently, I'm building a project that utilizes <strong
        >Indic-ASR models</strong
      > to help doctors scribe patient conversations. It’s <em
        >revenue-generating</em
      >, with real customers, real doctors, and real hospitals.
    </p>

    <p>
      Avid motorcyclist. <a
        href="https://hmidarjeeling.com/"
        class="link link-neutral">Certified Mountaineer (HMI)</a
      >. Up for any sport (except basketball & tennis). I also
      <a
        href="https://fabacademy.org/2021/labs/kochi/students/hanani-b/"
        class="link">Can (Almost) Make Anything</a
      >.
    </p>

    <p>
      <strong>Medieval Capital Paglu</strong> — I’ve travelled to pretty much all
      the major medieval capitals in South India.
    </p>

    <p>
      <span class="font-semibold">Reach me at:</span>
      <a
        href="https://www.linkedin.com/in/hanani-bathina-9b18aaa2/"
        target="_blank"
        rel="noopener"
        class="link link-info">LinkedIn</a
      >
      &nbsp;|&nbsp;
      <a
        href="https://www.instagram.com/jaihanani/"
        target="_blank"
        rel="noopener"
        class="link link-error">Instagram</a
      >
      &nbsp;|&nbsp;
      <a href="mailto:hananib.mds2024@cmi.ac.in" class="link link-accent"
        >Email</a
      >
    </p>
  </div>
</PageLayout>
