---
import PageLayout from "./PageLayout.astro";
import type { CollectionEntry } from "astro:content";

const { title } = Astro.props;
---

<PageLayout>
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
      integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
      crossorigin="anonymous"
    />
  </head>

  <main class="px-6 py-12 max-w-4xl mx-auto">
    <article class="prose prose-neutral lg:prose-xl dark:prose-invert">
      <slot />
    </article>
  </main>
</PageLayout>
